.block-11 {
  position: relative;
  display: block;
  width: 100%;
  container: main-container / inline-size;
  .mgu-main__bg {
    position: absolute;
    top: 0;
    left: 50%;
    width: 1920px;
    height: 100%;
    object-fit: cover;
    transform: translateX(-50%);
    z-index: 2;
  }
  .container {
    position: relative;
    min-height: 690px;
    padding-block: 64px;
    z-index: 10;
  }
  .mgu-main__content {
    display: block;
    width: 100%;
    max-width: calc(100% - 620px);
    .h1,
    .sub_title,
    .descr {
      color: var(--white-color);
    }
    .icon-vertical {
      display: block;
      width: 100%;
      max-width: 300px;
      height: inherit;
      object-fit: contain;
      margin-bottom: 16px;
    }
    .h1 {
      margin-bottom: 8px;
    }
    .sub_title {
      margin-bottom: 24px;
    }
    .divider {
      margin-block: 24px;
    }
  }
  .wpcf7 {
    display: block;
    width: 100%;
    max-width: 440px;
    padding: 34px 24px;
    background-color: var(--form-color);
    border-radius: 16px;
  }
}

@container main-container (max-width: 1100px) {
  .block-11 .mgu-main__content {
    max-width: calc(100% - 480px);
  }
}

@container main-container (max-width: 900px) {
  .block-11 .container {
    justify-content: center;
    padding-top: 280px;
  }
  .block-11 .mgu-main__content {
    max-width: 100%;
    margin-bottom: 40px;
  }
}
