.block-17 {
  padding-block: 16px;
  background-color: var(--accent-color);
  .slider-items {
    .slider-item {
      scroll-snap-align: center;
      aspect-ratio: 16 / 9;
      width: 390px;
      margin-inline: 12px;
      object-fit: cover;
      border-radius: 16px;
    }
  }
}

@media (max-width: 1680px) {
}
@media (max-width: 1366px) {
}
@media (max-width: 1199px) {
}
@media (max-width: 991px) {
}
@media (max-width: 768px) {
}
@media (max-width: 576px) {
  .block-17 .slider-items .slider-item {
    width: 280px;
  }
}
@media (max-width: 460px) {
}
@media (max-width: 400px) {
}
