.block-47 {
  padding-bottom: 24px;
  .block-content {
    position: relative;
    aspect-ratio: 16 / 9;
    width: 100%;
    height: inherit;
    img {
      position: relative;
      width: 100%;
      height: 100%;
      object-fit: cover;
      z-index: 2;
    }
    .block-shadow {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: transparent;
      z-index: 5;
    }
    .block-play {
      position: absolute;
      top: 50%;
      left: 50%;
      display: block;
      width: 84px;
      height: 84px;
      background: url("../img/icons/icon-play-white.svg") center / contain no-repeat;
      transform: translate(-50%, -50%);
      cursor: pointer;
      z-index: 8;
    }
    .block-iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: -1;
      iframe {
        display: block;
        width: 100%;
        height: 100%;
      }
      &.active {
        background-color: var(--black-color);
        z-index: 20;
      }
    }
  }
}

@media (max-width: 1680px) {
}
@media (max-width: 1366px) {
}
@media (max-width: 1199px) {
}
@media (max-width: 991px) {
}
@media (max-width: 768px) {
}
@media (max-width: 576px) {
}
@media (max-width: 460px) {
}
@media (max-width: 400px) {
}
