.block-37 {
  .container {
    position: relative;
    padding: 40px;
    background-color: var(--white-color);
    box-shadow: 0 0 13px 0 rgba(168, 115, 86, 0.61);
    border-radius: 12px;
  }
  .h2 {
    margin-bottom: 24px;
  }
  .h3 {
    margin-bottom: 16px;
  }
  .block-content:not(:last-child) {
    margin-bottom: 24px;
  }
}

@media (max-width: 991px) {
}
@media (max-width: 768px) {
  .block-37 .container {
    max-width: 570px;
  }
}
@media (max-width: 576px) {
  .block-37 .container {
    max-width: 460px;
  }
}
@media (max-width: 460px) {
  .block-37 .container {
    max-width: 400px;
    padding: 16px;
  }
}
@media (max-width: 400px) {
  .block-37 .container {
    max-width: 360px;
  }
}
