.block-34 {
  padding-block: 64px;
  background-color: var(--accent-color);
  .block-bg {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    max-width: 1085px;
    height: 100%;
    z-index: 4;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .block-gradient {
    position: absolute;
    top: 0;
    left: 860px;
    width: 1100px;
    height: 100%;
    z-index: 7;
  }

  .container {
    position: relative;
    z-index: 10;
  }
  .content-title,
  .content-items,
  .content-description {
    width: 100%;
  }

  .content-title {
    max-width: 510px;
    .h1,
    .date-data__day,
    .date-data__month,
    .date-data__time {
      font-family: var(--font-family);
      color: var(--white-color);
    }

    .h1 {
      margin-bottom: 32px;
      font-size: 36px;
    }

    .date-data {
      width: 100%;
      margin-bottom: 40px;
      .date-data__day {
        display: block;
        width: 100%;
        max-width: 94px;
        font-weight: 700;
        font-size: 88px;
        line-height: 0.8;
        text-align: center;
      }
      .date-data__content {
        width: 100%;
        max-width: calc(100% - 110px);
        .date-data__month {
          font-weight: 600;
          font-size: 32px;
          line-height: 1.2;
        }
        .date-data__time {
          font-size: 20px;
          line-height: 1.2;
        }
      }
    }
  }

  .content-items {
    max-width: 382px;
    padding: 24px;
    background-color: var(--form-color);
    border-radius: 16px;
    .content-item {
      width: 100%;
      img {
        display: block;
        width: 64px;
        height: 64px;
        object-fit: contain;
      }
      .content-item__data {
        width: 100%;
        max-width: calc(100% - 80px);
        .content-item__label {
          margin-bottom: 4px;
          font-weight: 600;
          line-height: 1.1;
        }
        .descr {
          line-height: 1.1;
        }
      }
      &:not(:last-child) {
        margin-bottom: 24px;
      }
    }
  }

  .content-description {
    position: relative;
    max-width: 472px;
    padding-top: 24px;
    padding-left: 24px;
    border-left: 1px solid var(--white-color);
    .h2,
    .descr {
      color: var(--white-color);
    }
    .h2 {
      margin-bottom: 16px;
    }
  }
}

@media (max-width: 1680px) {
}
@media (max-width: 1366px) {
}
@media (max-width: 1199px) {
  .block-34 .content-description {
    max-width: calc(100% - 534px);
  }
}
@media (max-width: 991px) {
  .block-34 {
    padding-top: 280px;
  }
  .block-34 .block-bg {
    height: 650px;
  }
  .block-34 .block-gradient {
    top: 500px;
    left: 0;
    width: 100%;
    height: calc(100% - 500px);
  }
  .block-34 .content-title {
    max-width: 100%;
    margin-bottom: 40px;
  }
  .block-34 .content-description {
    max-width: 100%;
    padding-top: 40px;
    padding-left: 0;
    border-top: 1px solid var(--white-color);
    border-left: none;
  }
}
@media (max-width: 768px) {
}
@media (max-width: 576px) {
}
@media (max-width: 460px) {
}
@media (max-width: 400px) {
}
