.block-42 {
  padding-block: 24px;
  background-color: var(--accent-color);
  .h2 {
    margin-bottom: 24px;
    color: var(--white-color);
  }
  .block-items {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 16px;
    column-gap: 16px;
    width: 100%;
    .block-item {
      display: block;
      max-width: 100%;
      padding: 24px;
      background-color: var(--white-color);
      border-radius: 16px;
      overflow: hidden;
      .block-item__image {
        display: block;
        width: 100%;
        height: 96px;
        margin-bottom: 8px;
        img {
          width: 100%;
          height: 100%;
          object-fit: contain;
        }
      }
      .h3 {
        margin-bottom: 8px;
      }
      .btn {
        margin: 18px auto 0 auto;
      }
    }
    &:has(.block-item:only-child) {
      grid-template-columns: 1fr;
      justify-items: center;
      .block-item {
        max-width: 460px;
      }
    }
    &:has(> :nth-child(2):last-child) {
      grid-template-columns: 1fr 1fr;
    }
  }
}

@media (max-width: 1199px) {
  .block-42 .block-items {
    grid-template-columns: 1fr 1fr;
  }
}
@media (max-width: 991px) {
}
@media (max-width: 768px) {
  .block-42 .block-items,
  .block-42 .block-items:has(> :nth-child(2):last-child) {
    grid-template-columns: 1fr;
  }
}
@media (max-width: 576px) {
}
@media (max-width: 460px) {
}
@media (max-width: 400px) {
}
