.block-08 {
  padding-bottom: 24px;
  .container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 24px;
    row-gap: 24px;
    .teacher-article {
      position: relative;
      display: block;
      padding-bottom: 70px;
      border-radius: 16px;
      background-color: var(--accent-color);
      overflow: hidden;
      .teacher-image {
        width: 100%;
        height: 286px;
        margin-bottom: 16px;
        object-fit: cover;
      }
      .teacher-title,
      .teacher-descr,
      .teacher-link {
        display: block;
        width: 100%;
        padding-inline: 8px;
        font-family: var(--font-family);
        text-align: center;
        color: var(--white-color);
      }
      .teacher-title {
        margin-bottom: 8px;
        font-weight: 700;
        font-size: 18px;
      }
      .teacher-descr {
      }
      .teacher-link {
        position: absolute;
        bottom: 24px;
        left: 0;
        font-weight: 600;
        font-size: 18px;
        text-decoration: underline;
        cursor: pointer;
      }
    }
  }
  .btn {
    margin: 24px auto 0 auto;
  }
}

@media (max-width: 1199px) {
  .block-08 .container {
    grid-template-columns: 1fr 1fr;
    max-width: 584px;
    padding-inline: 0;
  }
}
@media (max-width: 576px) {
  .block-08 .container {
    grid-template-columns: 1fr;
    max-width: 360px;
    padding-inline: var(--indent);
  }
  .block-08 .container .teacher-article .teacher-image {
    height: 312px;
  }
}
