.block-01 {
  padding-block: 82px 64px;
  container: block-01 / inline-size;
  .block-01-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 2;
  }
  .container {
    position: relative;
    z-index: 10;
  }
  .block-left,
  .block-right {
    width: calc(50% - 26px);
    max-width: 100%;
    padding-block: 24px;
  }

  .block-line {
    display: block;
    width: 1px;
    height: inherit;
    background-color: var(--white-color);
  }

  .h1,
  .h2,
  .descr {
    color: var(--white-color);
  }
  .h1 {
    // margin-bottom: 24px;
  }
  .h2 {
    margin-bottom: 8px;
  }
  .descr {
    margin-bottom: 40px;
  }
  .block-left .btn {
    margin-top: 16px;
  }
  .block-01-image {
    display: block;
    width: 100%;
    max-width: 300px;
    height: inherit;
    margin: 0 auto;
    object-fit: contain;
  }
}

@container block-01 (max-width: 1199px) {
  .block-01 .block-01-bg {
    object-position: left;
  }
}
@media (max-width: 991px) {
  .block-01 {
    padding-block: 280px 64px;
  }
}
@container block-01 (max-width: 991px) {
  .block-01 .block-left,
  .block-01 .block-right {
    max-width: 100%;
    width: 100%;
    padding: 0;
  }
  .block-01 .block-line {
    width: 100%;
    height: 1px;
    margin-block: 24px;
  }
}
@container block-01 (max-width: 768px) {
}
@container block-01 (max-width: 576px) {
  .block-01 {
    &:before {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: calc(100% - 380px);
      background: linear-gradient(0deg, var(--accent-color) 0%, var(--accent-color) 90%, rgba(0, 0, 0, 0) 100%);
      z-index: 7;
    }
  }
  .block-01 .block-01-bg {
    max-height: 100%;
    object-position: 10%;
  }
}
