.block-31 {
  .block-teacher {
    width: 100%;
    max-width: 598px;
    margin: 0 auto 24px auto;
    background-color: var(--accent-color);
    border-radius: 16px;
    .teacher__image {
      display: block;
      width: 100%;
      max-width: 286px;
      height: inherit;
      border-radius: 16px;
      overflow: hidden;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    .teacher__content {
      position: relative;
      width: 100%;
      max-width: calc(100% - 287px);
      padding: 16px 16px 70px 16px;
      text-align: center;
      .h4,
      .descr {
        color: var(--white-color);
      }
      .h4 {
        margin-bottom: 8px;
      }
      .link {
        position: absolute;
        bottom: 24px;
        left: 50%;
        transform: translateX(-50%);
      }
    }
  }
  .btn {
    margin: 0 auto;
  }
  .block-teachers {
    display: none;
    width: 100%;
    margin-bottom: 40px;
    .h3 {
      width: 100%;
      max-width: var(--container);
      margin: 0 auto 24px auto;
      padding-inline: var(--indent);
    }
    &.active {
      display: block;
    }
  }
}

@media (max-width: 1680px) {
}
@media (max-width: 1366px) {
}
@media (max-width: 1199px) {
}
@media (max-width: 991px) {
}
@media (max-width: 768px) {
}
@media (max-width: 576px) {
  .block-31 .block-teacher {
    max-width: 312px;
  }
  .block-31 .block-teacher .teacher__image {
    max-width: 100%;
    height: 312px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
  .block-31 .block-teacher .teacher__content {
    max-width: 100%;
  }
  .block-31 .block-teachers .h3 {
    margin-bottom: 16px;
  }
}
@media (max-width: 460px) {
}
@media (max-width: 400px) {
}
