.block-40 {
  .block-content {
    .h3 {
      margin-bottom: 8px;
    }
    a {
      font-weight: 600;
      text-decoration: underline;
      color: var(--accent-color);
    }
    .block-content__date {
      margin-top: 16px;
    }
    &:not(:first-child) {
      margin-top: 20px;
      padding-top: 20px;
      border-top: 1px solid #232323;
    }
  }
}

@media (max-width: 1680px) {
}
@media (max-width: 1366px) {
}
@media (max-width: 1199px) {
}
@media (max-width: 991px) {
}
@media (max-width: 768px) {
}
@media (max-width: 576px) {
}
@media (max-width: 460px) {
}
@media (max-width: 400px) {
}
