.block-29 {
  padding-top: 12px;
  .container {
    & > .content-block:nth-child(n + 4) {
      display: none;
    }
  }
  .content-block {
    position: relative;
    width: 100%;
    max-width: 634px;
    padding: 16px 54px 16px 16px;
    background-color: var(--white-color);
    border-radius: 16px;
    .circles {
      position: absolute;
      bottom: 0px;
      right: 21px;
      width: 10px;
      height: calc(100% + 9px);
      border-right: 5px dotted var(--accent-color);
      z-index: 10;
    }
    .content-block__image {
      width: 248px;
      height: 196px;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    .content-block__data {
      position: relative;
      width: calc(100% - 258px);
      text-align: right;
      .h2 {
        position: relative;
        margin-bottom: 8px;
        color: var(--accent-color);
        .circle {
          position: absolute;
          top: 12px;
          right: -38px;
          width: 16px;
          height: 16px;
          background-color: var(--accent-color);
          border-radius: 32px;
        }
      }
      .descr {
        padding-bottom: 36px;
        line-height: 1.3;
      }
      .link {
        position: absolute;
        bottom: 0;
        right: 0;
      }
    }
    &:nth-child(even) {
      margin: 0 0 0 auto;
      padding: 16px 16px 16px 54px;
      .circles {
        right: auto;
        left: 17px;
      }
      .content-block__data {
        order: 1;
        text-align: left;
        .h2 .circle {
          right: auto;
          left: -38px;
        }
        .link {
          right: auto;
          left: 0;
        }
      }
      .content-block__image {
        order: 2;
      }
    }
    &:not(:last-child) {
      margin-bottom: 12px;
    }
  }
  .content-button {
    position: relative;
    margin-top: 62px;
    .circles {
      position: absolute;
      top: calc(-100% - 14px);
      left: calc(50% - 2px);
      width: 10px;
      height: 100%;
      border-right: 6px dotted var(--accent-color);
      transform: translateX(-50%);
      z-index: 10;
    }
    .btn {
      margin: 0 auto;
    }
  }
}

@media (max-width: 1270px) {
  .block-29 .container {
    max-width: 960px;
  }
  .block-29 .content-block {
    max-width: 480px;
  }
  .block-29 .content-block .content-block__image {
    aspect-ratio: 16 / 9;
    width: 100%;
    height: inherit;
    margin-bottom: 12px;
  }
  .block-29 .content-block .content-block__data {
    width: 100%;
  }
  .block-29 .content-block:nth-child(even) .content-block__image {
    order: 1;
  }
  .block-29 .content-block:nth-child(even) .content-block__data {
    order: 2;
  }
}
@media (max-width: 991px) {
  .block-29 .container {
    max-width: 748px;
  }
  .block-29 .content-block {
    max-width: 100%;
    padding: 16px 16px 16px 50px;
  }
  .block-29 .content-block:nth-child(even) {
    padding-left: 50px;
  }
  .block-29 .content-block .content-block__image {
    max-height: 240px;
  }
  .block-29 .content-block .content-block__data {
    text-align: left;
  }
  .block-29 .content-block .circles {
    right: auto;
    left: 13px;
  }
  .block-29 .content-block:nth-child(even) .circles {
    left: 13px;
  }
  .block-29 .content-block .content-block__data .h2 .circle {
    right: auto;
    left: -38px;
  }
  .block-29 .content-block .content-block__data .link {
    right: auto;
    left: 0;
  }
  .block-29 .content-button .circles {
    display: none;
  }
}
