.block-23 {
  padding-block: 24px;
  background-color: #313135;
  .content-items {
    max-width: 806px;
    .content-item {
      position: relative;
      padding-left: 110px;
      img {
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        grid-area: image;
        width: 80px;
        height: 80px;
        object-fit: cover;
        border-radius: 160px;
      }
      .content-item__head {
        margin-bottom: 12px;
        color: var(--white-color);
        strong {
          font-size: 20px;
        }
      }
      .content-item__contacts {
        display: flex;
        gap: 16px 24px;
        br {
          display: none;
        }
        a {
          position: relative;
          font-size: 18px;
          line-height: 1.1;
          color: var(--white-color);
        }
        a[href^="tel:"],
        a[href^="mailto:"] {
          padding-left: 32px;
        }
        a[href^="tel:"]::before,
        a[href^="mailto:"]::before {
          content: "";
          position: absolute;
          top: calc(50% - 2px);
          left: 0;
          display: block;
          width: 20px;
          height: 20px;
          transform: translateY(-50%);
        }
        a[href^="tel:"]::before {
          background: url("../img/icons/icon-phone-contacts.svg") center / contain no-repeat;
        }
        a[href^="mailto:"]::before {
          background: url("../img/icons/icon-mail-contacts.svg") center / contain no-repeat;
        }
      }
      &:not(:last-child) {
        margin-bottom: 24px;
      }
    }
  }
}

@media (max-width: 576px) {
  .block-23 .content-items .content-item {
    padding-left: 0;
  }
  .block-23 .content-items .content-item:not(:last-child) {
    margin-bottom: 36px;
  }
  .block-23 .content-items .content-item .content-item__head {
    min-height: 90px;
    padding-left: 100px;
  }
}
@media (max-width: 460px) {
}
@media (max-width: 400px) {
}
