.block-10 {
  padding-block: 70px 124px;
  background-color: var(--bg-color);
  .h2,
  .descr {
    color: var(--white-color);
  }
  .h2 {
    margin-bottom: 8px;
  }
  .descr {
    margin-bottom: 40px;
  }
  img {
    display: block;
    width: 100%;
    max-width: calc(50% - 10px);
    height: inherit;
    aspect-ratio: 16 / 9;
    object-fit: cover;
    margin-bottom: 40px;
  }
}

// @media (max-width: 1680px) {
// }
// @media (max-width: 1366px) {
// }
// @media (max-width: 1199px) {
// }
// @media (max-width: 991px) {
// }
// @media (max-width: 768px) {
// }
// @media (max-width: 576px) {
// }
// @media (max-width: 460px) {
// }
// @media (max-width: 400px) {
// }
