.block-48 {
  position: fixed;
  top: -140%;
  left: 50%;
  width: 100%;
  max-width: 382px;
  height: inherit;
  transition: all 0.7s ease-in-out;
  transform: translate(-50%, -50%);
  opacity: 0;
  z-index: -1;
  .block-close {
    position: absolute;
    top: -18px;
    right: -18px;
    display: block;
    width: 44px;
    height: 44px;
    background-color: var(--white-color);
    border-radius: 100px;
    border: 8px solid var(--white-color);
    cursor: pointer;
    &:before,
    &:after {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      width: 100%;
      height: 2px;
      background-color: var(--accent-color);
    }
    &:before {
      transform: translate(-50%, -50%) rotate(45deg);
    }
    &:after {
      transform: translate(-50%, -50%) rotate(-45deg);
    }
  }
  .block-content {
    display: block;
    width: 100%;
    height: inherit;
    max-height: 88vh;
    padding: 24px;
    background-color: var(--form-color);
    border-radius: 16px;
    overflow-y: scroll;
  }
  &.is-active {
    top: 50%;
    left: 50%;
    opacity: 1;
    z-index: 110;
  }
}

@media (max-width: 460px) {
  .block-48 {
    max-width: 90%;
  }
}
