.block-10 {
  padding-block: 70px 124px;
  background-color: var(--bg-color);
  .h2,
  .descr {
    color: var(--white-color);
  }
  .h2 {
    margin-bottom: 8px;
  }
  .descr {
    margin-bottom: 40px;
  }
  picture,
  .container > img {
    display: block;
    width: 100%;
    max-width: calc(50% - 10px);
    height: inherit;
    aspect-ratio: 16 / 9;
    margin-bottom: 40px;
  }
  img {
    object-fit: cover;
  }
  picture img {
    width: 100%;
  }
  .contacts-items {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 24px;
    row-gap: 32px;
    width: 100%;
    .contacts-item {
      .contacts-item__label,
      a {
        display: block;
        width: 100%;
        font-family: var(--font-family);
        color: var(--white-color);
        &:not(:last-child) {
          margin-bottom: 8px;
        }
      }
      .contacts-item__label {
        font-weight: 600;
        font-size: 18px;
      }
      a {
        position: relative;
        padding-left: 32px;
        font-size: var(--font-size);
      }
      a[href^="tel:"]:before,
      a[href^="mailto:"]:before {
        content: "";
        position: absolute;
        top: 50%;
        left: 0;
        display: block;
        width: 18px;
        height: 18px;
        transform: translateY(-50%);
      }
      a[href^="tel:"]:before {
        background: url("../img/icons/icon-phone-contacts.svg") center / contain no-repeat;
      }
      a[href^="mailto:"]:before {
        background: url("../img/icons/icon-mail-contacts.svg") center / contain no-repeat;
      }
      a + br {
        display: none;
      }
    }
  }
}

@media (max-width: 991px) {
  .block-10 .container > img,
  .block-10 picture {
    max-width: 70%;
    margin-inline: auto;
  }
  .block-10 .contacts-items {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media (max-width: 768px) {
  .block-10 .container > img,
  .block-10 picture {
    max-width: 80%;
  }
  .block-10 .contacts-items {
    grid-template-columns: 1fr 1fr;
  }
}
@media (max-width: 576px) {
  .block-10 .container > img,
  .block-10 picture {
    max-width: 100%;
  }
  .block-10 .contacts-items {
    grid-template-columns: 1fr;
    row-gap: 24px;
  }
}
@media (max-width: 460px) {
}
@media (max-width: 400px) {
}
