.block-09 {
  padding-bottom: 24px;
  .container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 24px;
    row-gap: 24px;
  }
  .program-article {
    position: relative;
    padding-bottom: 70px;
    background-color: var(--white-color);
    border-radius: 16px;
    overflow: hidden;
    .program-article__image {
      position: relative;
      width: 100%;
      height: 190px;
      margin-bottom: 24px;
      padding: 24px 16px;
      img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: 2;
      }
      .h3 {
        position: relative;
        color: var(--white-color);
        z-index: 5;
      }
    }
    .program-article__date {
      display: block;
      width: 100%;
      padding-inline: 16px;
      font-family: var(--font-family);
      font-weight: 600;
      font-size: 20px;
    }
    .link {
      position: absolute;
      right: 12px;
      bottom: 24px;
    }
  }
}

@media (max-width: 991px) {
  .block-09 .container {
    grid-template-columns: 1fr 1fr;
  }
}
@media (max-width: 576px) {
  .block-09 .container {
    grid-template-columns: 1fr;
  }
}
@media (max-width: 460px) {
}
@media (max-width: 400px) {
}
