.block-44 {
  padding-bottom: 24px;
  .container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    row-gap: 16px;
    column-gap: 16px;
    width: 100%;
    .block-item {
      width: 100%;
      .descr {
        margin-bottom: 16px;
        font-size: 20px;
        line-height: 1.3;
      }
    }
  }
}

@media (max-width: 1199px) {
  .block-44 .container {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width: 991px) {
}
@media (max-width: 768px) {
  .block-44 .container {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 576px) {
  .block-44 .container .block-item .descr {
    font-size: 17px;
  }
}
@media (max-width: 460px) {
  .block-44 .container {
    grid-template-columns: 1fr;
  }
}
@media (max-width: 400px) {
}
