.block-19 {
  padding-block: 0px 40px;
  .block-title {
    margin-bottom: 24px;
  }
  .content-reviews {
    gap: 24px;
    width: 100%;
    .content-review {
      position: relative;
      scroll-snap-align: center;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: flex-start;
      flex: 0 0 800px;
      width: 800px;
      padding: 24px 24px 78px 24px;
      background-color: var(--white-color);
      border-radius: 16px;
      img {
        display: block;
        width: 80px;
        height: 80px;
        object-fit: cover;
        border-radius: 160px;
      }
      .descr {
        position: relative;
        max-width: calc(100% - 90px);
        max-height: 180px;
        overflow: hidden;
        &:after {
          content: "";
          position: absolute;
          bottom: 0;
          left: 0;
          width: 100%;
          height: 50px;
          background: linear-gradient(0deg, #fff 0, rgba(255, 255, 255, 0) 100%);
        }
      }
      .link {
        position: absolute;
        bottom: 30px;
        left: 50%;
        transform: translateX(-50%);
      }
    }
  }
  .content-reviews.owner-slider.owner-slider-with-arrows::scroll-button(left) {
    top: calc(50% + 13px);
    right: auto;
    left: 40px;
    width: 28px;
    height: 58px;
    background: transparent url("../img/icons/icon-arrow-left-gray.svg") center / contain no-repeat;
    transform: translateY(-50%) rotate(0deg);
    border: none;
  }
  .content-reviews.owner-slider.owner-slider-with-arrows::scroll-button(right) {
    top: calc(50% + 13px);
    right: 40px;
    width: 28px;
    height: 58px;
    background: transparent url("../img/icons/icon-arrow-right-gray.svg") center / contain no-repeat;
    border: none;
    transform: translateY(-50%);
  }
}

@media (max-width: 991px) {
  .block-19 .content-reviews .content-review {
    flex: 0 0 680px;
    width: 680px;
  }
}
@media (max-width: 768px) {
  .block-19 .content-reviews {
    gap: 16px;
  }
  .block-19 .content-reviews .content-review {
    flex: 0 0 480px;
    width: 480px;
  }
  .block-19 .content-reviews .content-review img {
    margin-bottom: 16px;
  }
  .block-19 .content-reviews .content-review .descr {
    max-width: 100%;
  }
}
@media (max-width: 576px) {
  .block-19 .content-reviews {
    gap: 8px;
  }
  .block-19 .content-reviews .content-review {
    flex: 0 0 380px;
    width: 380px;
  }
  .block-19 .content-reviews .content-review img {
    margin-bottom: 8px;
  }
  .block-19 .content-reviews.owner-slider.owner-slider-with-arrows::scroll-button(left) {
    left: 20px;
  }
  .block-19 .content-reviews.owner-slider.owner-slider-with-arrows::scroll-button(right) {
    right: 20px;
  }
}
@media (max-width: 460px) {
  .block-19 .content-reviews .content-review {
    flex: 0 0 340px;
    width: 340px;
  }
}
@media (max-width: 400px) {
  .block-19 .content-reviews .content-review {
    flex: 0 0 290px;
    width: 290px;
  }
}
