.block-45 {
  padding-block: 52px 40px;
  .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
    gap: 60px 48px;
    width: 100%;
    .block-item {
      position: relative;
      display: block;
      width: 100%;
      max-width: 340px;
      padding: 24px 16px;
      background-color: var(--white-color);
      border-radius: 16px;
      .block-item__icon {
        position: absolute;
        top: -41px;
        right: -27px;
        display: block;
        width: 118px;
        height: 118px;
        background-color: var(--white-color);
        border-radius: 1000px;
        box-shadow: 0 0 6px rgba(0, 0, 0, 0.25);
        overflow: hidden;
        z-index: 5;
        img {
          width: 100%;
          height: 100%;
          object-fit: contain;
        }
      }
      .block-item__avatar {
        display: block;
        width: 226px;
        height: 226px;
        margin: 0 auto 16px auto;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          border-radius: 1000px;
        }
      }
      .h3 {
        margin-bottom: 8px;
      }
      .h3,
      .descr {
        text-align: center;
      }
    }
  }
}

@media (max-width: 400px) {
  .block-45 .container .block-item {
    max-width: 300px;
  }
  .block-45 .container .block-item .block-item__icon {
    width: 98px;
    height: 98px;
  }
  .block-45 .container .block-item .block-item__avatar {
    width: 198px;
    height: 198px;
  }
}
