.block-28 {
  padding-block: 40px 30px;
  background-color: var(--accent-color);
  .container > .h2 {
    margin-bottom: 24px;
    color: var(--white-color);
  }
  .content-items {
    gap: 52px;
    width: 100%;
    .h2 {
      position: relative;
      margin-bottom: 8px;
      .circle {
        position: absolute;
        top: 12px;
        right: -34px;
        width: 16px;
        height: 16px;
        background-color: var(--white-color);
        border-radius: 32px;
      }
    }
    .descr {
      position: relative;
      max-width: 470px;
      margin: 0 0 0 auto;
      .circles {
        position: absolute;
        top: -16px;
        right: -29px;
        width: 10px;
        height: calc(100% + 46px);
        border-right: 5px dotted var(--white-color);
      }
    }
    .h2,
    .descr {
      color: var(--white-color);
    }
    .content-data,
    .content-image {
      width: calc(50% - 26px);
      max-width: 580px;
    }
    .content-data {
      text-align: right;
    }
    .content-image {
      height: 370px;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
}

@media (max-width: 1199px) {
  .block-28 .content-items .content-data,
  .block-28 .content-items .content-image {
    max-width: 440px;
  }
}
@media (max-width: 991px) {
  .block-28 .container {
    max-width: 748px;
  }
  .block-28 .content-items {
    gap: 30px;
  }
  .block-28 .content-items .content-data,
  .block-28 .content-items .content-image {
    width: 100%;
    max-width: 100%;
  }
  .block-28 .content-items .content-image {
    order: 1;
  }
  .block-28 .content-items .content-data {
    order: 2;
    padding-left: 46px;
    text-align: left;
  }
  .block-28 .content-items .descr {
    max-width: 100%;
  }
  .block-28 .content-items .h2 .circle {
    right: auto;
    left: -34px;
  }
  .block-28 .content-items .descr .circles {
    right: auto;
    left: -33px;
  }
}
@media (max-width: 768px) {
  .block-28 .content-items .content-image {
    aspect-ratio: 16 / 12;
    height: inherit;
  }
}
@media (max-width: 576px) {
}
@media (max-width: 460px) {
}
@media (max-width: 400px) {
}
