.block-15 {
  padding-bottom: 24px;
  .block-title {
    margin-bottom: 24px;
  }
  .content-items {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 16px;
    column-gap: 16px;
    .content-item {
      padding: 24px;
      display: block;
      text-align: center;
      background-color: var(--white-color);
      border-radius: 16px;
      .content-item__num {
        display: block;
        width: 100%;
        min-height: 80px;
        font-family: var(--font-family);
        font-weight: 700;
        font-size: 80px;
        line-height: 1;
        color: var(--black-color);
      }
    }
  }
}

@media (max-width: 991px) {
  .block-15 .content-items {
    grid-template-columns: 1fr 1fr;
  }
}
@media (max-width: 768px) {
}
@media (max-width: 576px) {
  .block-15 .content-items {
    grid-template-columns: 1fr;
  }
}
@media (max-width: 460px) {
}
@media (max-width: 400px) {
}
