.block-05 {
  padding-bottom: 24px;
  .container {
    gap: 24px;
  }
  .block-program {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: flex-end;
    width: 100%;
    max-width: 100%;
    min-height: 216px;
    padding: 16px;
    border-radius: 16px;
    overflow: hidden;
    .block-program__shadow {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0);
      z-index: 5;
    }
    .block-program__image {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      z-index: 2;
    }
    .h4,
    .descr {
      position: relative;
      width: 100%;
      font-family: var(--font-family);
      color: var(--white-color);
      z-index: 8;
    }
    .h4 {
      display: -webkit-box;
      -webkit-box-orient: vertical;
      overflow: hidden;
      -webkit-line-clamp: 2;
      font-weight: 700;
      font-size: 20px;
    }
    .descr {
      display: -webkit-box;
      -webkit-box-orient: vertical;
      overflow: hidden;
      -webkit-line-clamp: 4;
    }
    &.w-32 {
      max-width: calc(33% - 12px);
    }
    &.w-50 {
      max-width: calc(50% - 12px);
    }
  }
}

@media (max-width: 1680px) {
}
@media (max-width: 1366px) {
  .block-05 .block-program.w-32 {
    max-width: calc(33% - 13px);
  }
}
@media (max-width: 1199px) {
}
@media (max-width: 991px) {
  .block-05 .block-program.w-32 {
    max-width: calc(50% - 12px);
  }
}
@media (max-width: 768px) {
}
@media (max-width: 576px) {
  .block-05 .block-program.w-32,
  .block-05 .block-program.w-50 {
    max-width: 100%;
  }
}
@media (max-width: 460px) {
}
@media (max-width: 400px) {
}
