.block-20 {
  padding-block: 40px;
  .bg-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 2;
  }
  .container {
    position: relative;
    z-index: 8;
  }
  .h2 {
    margin-bottom: 24px;
    color: var(--white-color);
  }
  .content-items {
    gap: 24px;
    .content-item {
      display: block;
      width: 100%;
      max-width: 460px;
      padding: 24px;
      background-color: var(--white-color);
      border-radius: 16px;
      .h4 {
        margin-bottom: 8px;
      }
      .content-item__sum {
        display: block;
        width: 100%;
        font-family: var(--font-family);
        font-weight: 700;
        font-size: 80px;
        line-height: 1.2;
        color: var(--black-color);
      }
      .descr {
        margin-bottom: 16px;
        font-weight: 500;
      }
      .btn {
        margin: 0 auto;
        padding: 14px 64px;
      }
    }
  }
}

@media (max-width: 576px) {
  .block-20 .content-items .content-item {
    padding-inline: 16px;
  }
  .block-20 .content-items .content-item .content-item__sum {
    font-size: 68px;
    line-height: 1;
  }
  .block-20 .content-items .content-item .btn {
    padding-inline: 24px;
  }
}
@media (max-width: 460px) {
  .block-20 .content-items .content-item .content-item__sum {
    font-size: 58px;
  }
}
@media (max-width: 400px) {
  .block-20 .content-items .content-item .content-item__sum {
    font-size: 50px;
  }
}
