.block-15 {
  padding-bottom: 24px;
  container: block-15 / inline-size;
  .block-title {
    margin-bottom: 24px;
  }
  .content-items {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    .content-item {
      flex: 1 1 calc(33% - 20px);
      padding: 24px;
      text-align: center;
      background-color: var(--white-color);
      border-radius: 16px;
      .content-item__num {
        display: block;
        width: 100%;
        min-height: 80px;
        font-family: var(--font-family);
        font-weight: 700;
        font-size: 80px;
        line-height: 1;
        color: var(--black-color);
      }
    }
  }
}

@container block-15 (max-width: 991px) {
  .block-15 .content-items .content-item {
    flex: 1 1 calc(50% - 8px);
  }
}

@container block-15 (max-width: 576px) {
  .block-15 .content-items .content-item {
    flex: 1 1 calc(100%);
  }
}
