.theme-dark .block-02 .event-item {
  box-shadow: 0px 0px 4px 0px hsla(0, 0, 0, 0.4);
}

.block-02 {
  padding-block: 24px 40px;
  container: block-02 / inline-size;
  .block-title {
    margin-bottom: 24px;
  }
  .event-item {
    height: 178px;
    background-color: var(--white-color);
    border-radius: 16px;
    transition: all 0.3s ease;
    overflow: hidden;
    .event-item__date {
      align-content: center;
      width: 128px;
      .event-item__date-day {
        margin-bottom: 12px;
        font-weight: 700;
        font-size: 80px;
        line-height: 1;
      }
      .event-item__date-month {
        margin-bottom: 4px;
        font-weight: 600;
        font-size: 24px;
        line-height: 1;
      }
      .event-item__date-time {
        margin-bottom: 12px;
        font-weight: 500;
        font-size: 16px;
      }
    }
    .event-item__image {
      position: relative;
      display: block;
      width: 304px;
      height: inherit;
      overflow: hidden;
      .event-item__title {
        position: absolute;
        bottom: 16px;
        left: 24px;
        max-width: calc(100% - 48px);
        font-weight: 700;
        font-size: 20px;
        line-height: 1.3;
        color: var(--white-color);
        opacity: 0;
      }
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: all 0.3s ease;
      }
    }
    .event-item__content {
      position: relative;
      display: block;
      width: calc(100% - 128px - 305px);
      padding: 24px 24px 48px 24px;
      .event-item__title {
        margin-bottom: 4px;
        font-weight: 700;
        font-size: 23px;
        -webkit-line-clamp: 1;
      }
      .descr {
        margin-bottom: 8px;
        font-weight: 500;
        -webkit-line-clamp: 2;
      }
      .link {
        position: absolute;
        right: 24px;
        bottom: 24px;
      }
    }
    .event-item__date-day,
    .event-item__date-month,
    .event-item__date-time,
    .event-item__title {
      display: block;
      width: 100%;
      font-family: var(--font-family);
      color: var(--black-color);
    }
    .event-item__date-day,
    .event-item__date-month,
    .event-item__date-time {
      text-align: center;
    }
    .event-item__title,
    .descr {
      display: -webkit-box;
      -webkit-box-orient: vertical;
      overflow: hidden;
    }
    &:not(:last-child) {
      margin-bottom: 16px;
    }
  }
  .btn {
    margin: 24px auto 0 auto;
  }
}

@container block-02 (max-width: 991px) {
  .block-02 .event-item {
    max-width: 528px;
    height: inherit;
    margin-inline: auto;
  }
  .block-02 .event-item .event-item__image {
    order: 1;
    width: 100%;
    height: inherit;
    aspect-ratio: 16 / 9;
    background-color: gray;
    .event-item__title {
      -webkit-line-clamp: 4;
      opacity: 1;
    }
  }
  .block-02 .event-item .event-item__date {
    order: 2;
  }
  .block-02 .event-item .event-item__content {
    order: 3;
    width: 100%;
    max-width: calc(100% - 130px);
    .event-item__title {
      display: none;
    }
    .descr {
      -webkit-line-clamp: 5;
    }
  }
}
@container block-02 (max-width: 576px) {
  .block-02 .event-item .event-item__date {
    width: 116px;
  }
  .block-02 .event-item .event-item__date .event-item__date-day {
    font-size: 68px;
  }
  .block-02 .event-item .event-item__date .event-item__date-month {
    font-size: 22px;
  }
  .block-02 .event-item .event-item__content {
    max-width: calc(100% - 117px);
    padding: 16px 16px 48px 16px;
  }
  .block-02 .event-item .event-item__content .link {
    right: 16px;
    bottom: 16px;
  }
}
