.block-46 {
  padding-bottom: 24px;
  .container {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 16px;
    column-gap: 16px;
    width: 100%;
    &.image-2fr {
      grid-template-columns: 1fr 1fr;
    }
    &.image-3fr {
      grid-template-columns: 1fr 1fr 1fr;
    }
    &.image-4fr {
      grid-template-columns: 1fr 1fr 1fr 1fr;
    }
  }
  .block-image {
    display: block;
    width: 100%;
    height: inherit;
    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
}

@media (max-width: 1199px) {
  .block-46 .container.image-4fr {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media (max-width: 991px) {
  .block-46 .container.image-3fr,
  .block-46 .container.image-4fr {
    grid-template-columns: 1fr 1fr;
  }
}
@media (max-width: 768px) {
}
@media (max-width: 576px) {
}
@media (max-width: 460px) {
  .block-46 .container.image-2fr,
  .block-46 .container.image-3fr,
  .block-46 .container.image-4fr {
    grid-template-columns: 1fr;
  }
}
@media (max-width: 400px) {
}
