.block-41 {
  padding-bottom: 40px;
  .container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    row-gap: 16px;
    column-gap: 16px;
  }
  .block-item {
    position: relative;
    display: block;
    height: 400px;
    border-radius: 16px;
    overflow: hidden;
    &:after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(0deg, rgba(0, 0, 0, 0.9) 0, rgba(0, 0, 0, 0) 68.62%);
      z-index: 8;
    }
    .block-item__bg {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 4;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    .h3 {
      position: absolute;
      bottom: 24px;
      left: 0;
      padding-inline: 16px;
      color: var(--white-color);
      z-index: 12;
    }
  }
}

@media (max-width: 1199px) {
  .block-41 .container {
    grid-template-columns: 1fr 1fr 1fr;
    max-width: 940px;
  }
}
@media (max-width: 991px) {
}
@media (max-width: 768px) {
  .block-41 .container {
    grid-template-columns: 1fr 1fr;
    max-width: 640px;
  }
}
@media (max-width: 576px) {
  .block-41 .container {
    grid-template-columns: 1fr 1fr;
    max-width: 540px;
  }
  .block-41 .block-item {
    height: 320px;
  }
  .block-41 .block-item .h3 {
    font-size: 18px;
  }
}
@media (max-width: 460px) {
  .block-41 .container {
    grid-template-columns: 1fr;
    max-width: 280px;
  }
}
@media (max-width: 400px) {
}
