.block-19 {
  padding-block: 0px 40px;
  .block-title {
    margin-bottom: 24px;
  }
  .content-reviews {
    width: 100%;
    .content-review {
      position: relative;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: flex-start;
      width: 800px;
      margin-inline: 12px;
      padding: 24px 24px 78px 24px;
      background-color: var(--white-color);
      border-radius: 16px;
      img {
        display: block;
        width: 80px;
        height: 80px;
        object-fit: cover;
        border-radius: 160px;
      }
      .descr {
        position: relative;
        max-width: calc(100% - 90px);
        max-height: 180px;
        overflow: hidden;
        &:after {
          content: "";
          position: absolute;
          bottom: 0;
          left: 0;
          width: 100%;
          height: 50px;
          background: linear-gradient(0deg, #fff 0, rgba(255, 255, 255, 0) 100%);
        }
      }
      .link {
        position: absolute;
        bottom: 30px;
        left: 50%;
        transform: translateX(-50%);
      }
    }
    .slick-arrow {
      position: absolute;
      top: 50%;
      display: block;
      width: 28px;
      height: 58px;
      transform: translateY(-50%);
      z-index: 5;
      &.slick-arrow-prev {
        left: calc(50% - 423px);
        background: url("../img/icons/icon-arrow-left-gray.svg") center / contain no-repeat;
      }
      &.slick-arrow-next {
        left: calc(50% + 395px);
        background: url("../img/icons/icon-arrow-right-gray.svg") center / contain no-repeat;
      }
    }
  }
  .slick-track {
    display: flex !important;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: center;
  }
  .slick-slide {
    display: flex !important;
    flex-wrap: wrap;
    align-content: flex-start;
    height: inherit !important;
  }
}

@media (max-width: 991px) {
  .block-19 .content-reviews .content-review {
    width: 680px;
    margin-inline: 6px;
  }
  .block-19 .content-reviews .slick-arrow.slick-arrow-prev {
    left: 30px;
  }
  .block-19 .content-reviews .slick-arrow.slick-arrow-next {
    right: 30px;
    left: auto;
  }
}
@media (max-width: 768px) {
  .block-19 .content-reviews .content-review {
    width: 480px;
  }
  .block-19 .content-reviews .content-review img {
    margin-bottom: 16px;
  }
  .block-19 .content-reviews .content-review .descr {
    max-width: 100%;
  }
}
@media (max-width: 576px) {
  .block-19 .content-reviews .content-review {
    width: 380px;
  }
  .block-19 .content-reviews .content-review img {
    margin-bottom: 8px;
  }
  .block-19 .content-reviews .slick-arrow.slick-arrow-prev {
    left: 14px;
  }
  .block-19 .content-reviews .slick-arrow.slick-arrow-next {
    right: 14px;
  }
}
@media (max-width: 460px) {
  .block-19 .content-reviews .content-review {
    width: 340px;
  }
}
@media (max-width: 400px) {
  .block-19 .content-reviews .content-review {
    width: 290px;
  }
}
