.block-43 {
  padding-block: 64px;
  .bg-content {
    position: absolute;
    top: 0;
    left: 50%;
    width: 1920px;
    height: 100%;
    transform: translateX(-50%);
    z-index: 4;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  .container {
    position: relative;
    z-index: 5;
  }
  .block-content {
    width: 100%;
    max-width: 500px;
    padding-top: 24px;
    .h1,
    .descr {
      color: var(--white-color);
    }
    .h1 {
      margin-bottom: 16px;
    }
    .divider {
      max-width: 400px;
      margin: 24px 0;
    }
    .btn {
      margin-top: 24px;
    }
  }
  .block-date {
    position: relative;
    width: 100%;
    max-width: calc(100% - 662px);
    padding-block: 24px;
    padding-left: 24px;
    .divider {
      position: absolute;
      top: 0;
      left: 0;
      width: 1px;
      height: 100%;
    }
    .h2 {
      margin-bottom: 16px;
      color: var(--white-color);
    }
    .content-date {
      width: 100%;
      .block-date__day {
        width: 100%;
        max-width: 88px;
        font-weight: 600;
        font-size: 80px;
        line-height: 1;
        text-align: center;
        color: var(--white-color);
      }
      .block-date__content {
        width: 100%;
        max-width: calc(100% - 100px);
        .h2 {
          margin-bottom: 0;
        }
        .descr {
          color: var(--white-color);
        }
      }
    }
    a {
      position: relative;
      display: block;
      width: 100%;
      max-width: max-content;
      margin-top: 16px;
      font-weight: 600;
      font-size: 18px;
      line-height: 1.2;
      color: var(--white-color);
      &:after {
        content: "";
        position: absolute;
        bottom: -4px;
        left: 0;
        width: 100%;
        height: 2px;
        background-color: var(--white-color);
      }
    }
  }
}

@media (max-width: 1199px) {
  .block-43 .block-date {
    max-width: calc(100% - 562px);
  }
}
@media (max-width: 991px) {
  .block-43 {
    padding-top: 280px;
  }
  .block-43 .bg-content {
    width: 991px;
  }
  .block-43 .block-content {
    max-width: 100%;
    padding-top: 0;
  }
  .block-43 .block-date {
    max-width: 100%;
    margin-top: 24px;
    padding-top: 24px;
    padding-left: 0;
    padding-bottom: 0;
  }
  .block-43 .block-date .divider {
    width: 100%;
    height: 1px;
  }
}
@media (max-width: 768px) {
}
@media (max-width: 576px) {
  .block-43 .bg-content {
    width: 576px;
  }
}
@media (max-width: 460px) {
}
@media (max-width: 400px) {
}
