.block-26 {
  padding-bottom: 24px;
  .content-items {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 40px;
    column-gap: 16px;
    width: 100%;
  }
  .content-item {
    width: 100%;
    .content-item__content {
      position: relative;
      align-content: flex-end;
      width: 100%;
      min-height: 216px;
      margin-bottom: 8px;
      padding: 16px;
      border-radius: 16px;
      overflow: hidden;
      .content-item__image {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: 2;
      }
      .content-item__title {
        margin-bottom: 4px;
      }
      .content-item__title,
      .content-item__descr {
        position: relative;
        color: var(--white-color);
        z-index: 8;
      }
    }
  }
}

@media (max-width: 1680px) {
}
@media (max-width: 1366px) {
}
@media (max-width: 1199px) {
}
@media (max-width: 991px) {
}
@media (max-width: 768px) {
  .block-26 .content-items {
    grid-template-columns: 1fr;
  }
}
@media (max-width: 576px) {
}
@media (max-width: 460px) {
}
@media (max-width: 400px) {
}
