.block-27 {
  padding-block: 10px 30px;
  .block-bg {
    position: absolute;
    top: 0;
    left: 50%;
    width: 1920px;
    height: 271px;
    transform: translateX(-50%);
    z-index: 1;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  .container > .h2 {
    margin-bottom: 24px;
  }
  .container {
    position: relative;
    gap: 24px;
    z-index: 10;
    &.revers {
      .content-data {
        order: 2;
      }
      .content-image {
        order: 1;
      }
    }
  }
  .content-image,
  .content-data {
    width: 100%;
    max-width: calc(50% - 12px);
  }
  .content-image {
    aspect-ratio: 16 / 9;
    height: inherit;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  .content-data {
    .h2 {
      margin-bottom: 8px;
    }
  }
  &.block-27--style-02 {
    .content-data {
      max-width: calc(100% - 348px);
    }
    .content-image {
      aspect-ratio: 1 / 1;
      width: 300px;
      height: 300px;
      border-radius: 1000px;
      overflow: hidden;
    }
  }
  &.isBgActive {
    padding-block: 110px 90px;
    .h2,
    .descr {
      color: var(--white-color);
    }
    .content-image {
      max-width: 420px;
      border-radius: 16px;
      overflow: hidden;
    }
  }
}

@media (max-width: 991px) {
  .block-27 .content-image,
  .block-27 .content-data {
    max-width: 100%;
  }
  .block-27 .container.revers .content-data {
    order: 1;
  }
  .block-27 .container.revers .content-image {
    order: 2;
  }
  .block-27.block-27--style-02 .container.revers .content-image,
  .block-27.block-27--style-02 .content-image {
    order: 1;
    margin: 0 auto;
  }
  .block-27.block-27--style-02 .container.revers .content-data,
  .block-27.block-27--style-02 .content-data {
    order: 2;
    max-width: 100%;
  }
  .block-27.isBgActive .content-image {
    max-width: 100%;
  }
}
@media (max-width: 768px) {
}
@media (max-width: 576px) {
  .block-27.isBgActive {
    padding-block: 60px 50px;
  }
}
@media (max-width: 460px) {
}
@media (max-width: 400px) {
}
