.block-35 {
  padding-block: 40px;
  background-color: var(--accent-color);
  .bg-content {
    position: absolute;
    top: 0;
    left: 50%;
    display: block;
    width: 100%;
    max-width: 644px;
    height: 100%;
    z-index: 2;
    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
  .container {
    position: relative;
    z-index: 10;
  }
  .h1,
  .descr {
    max-width: 598px;
    color: var(--white-color);
  }
  .bold {
    margin-bottom: 16px;
    font-weight: 600;
  }
  .link {
    margin-top: 16px;
  }
}

@media (max-width: 991px) {
  .block-35 {
    padding-top: 320px;
  }
  .block-35 .bg-content {
    left: 0;
    max-width: 100%;
    height: 318px;
    &:after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 100px;
      background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0, var(--accent-color) 100%);
    }
  }
}
@media (max-width: 768px) {
}
@media (max-width: 576px) {
}
@media (max-width: 460px) {
  .block-35 {
    padding-top: 300px;
  }
}
@media (max-width: 400px) {
  .block-35 {
    padding-top: 280px;
  }
}
