.block-33 {
  padding-block: 24px;
  .block-bg {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 1920px;
    height: 100%;
    z-index: 2;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  .container {
    position: relative;
    z-index: 10;
  }
  .h3,
  .descr {
    text-align: center;
    color: var(--white-color);
  }
  .h3 {
    margin-bottom: 8px;
  }
  .descr {
    margin-bottom: 16px;
  }
  .btn {
    margin: 0 auto;
  }
}

@media (max-width: 1680px) {
}
@media (max-width: 1366px) {
  .block-33 .block-bg {
    max-width: 100%;
  }
  .block-33 .block-bg img {
    object-position: 30%;
  }
}
@media (max-width: 1199px) {
}
@media (max-width: 991px) {
}
@media (max-width: 768px) {
}
@media (max-width: 576px) {
  .block-33 .block-bg img {
    object-position: 20%;
  }
}
@media (max-width: 460px) {
}
@media (max-width: 400px) {
}
