.block-18 {
  padding-block: 40px 60px;
  img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 2;
  }
  .container {
    position: relative;
    z-index: 8;
  }
  .container .h2,
  .container .descr {
    max-width: 806px;
    color: var(--white-color);
  }
  .container .h2 {
    margin: 0 0 8px auto;
  }
  .container .descr {
    margin: 0 0 0 auto;
  }
  .container .link {
    margin: 8px 0 0 auto;
  }
}

@media (max-width: 1680px) {
}
@media (max-width: 1366px) {
}
@media (max-width: 1199px) {
}
@media (max-width: 991px) {
}
@media (max-width: 768px) {
}
@media (max-width: 576px) {
}
@media (max-width: 460px) {
}
@media (max-width: 400px) {
}
