.block-32 {
  padding-bottom: 24px;
  .block-slider {
    .block-slide {
      position: relative;
      width: 391px;
      height: 220px;
      margin-right: 18px;
      border-radius: 16px;
      overflow: hidden;
      img {
        position: relative;
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: 2;
      }
      .block-slide__shadow {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: transparent;
        z-index: 5;
      }
      .block-slide__play {
        position: absolute;
        top: 50%;
        left: 50%;
        display: block;
        width: 84px;
        height: 84px;
        background: url("../img/icons/icon-play-white.svg") center / contain no-repeat;
        transform: translate(-50%, -50%);
        cursor: pointer;
        z-index: 8;
      }
    }
  }
}

@media (max-width: 576px) {
  .block-32 .block-slider .block-slide {
    width: 360px;
    height: 200px;
    margin-right: 12px;
  }
}
@media (max-width: 460px) {
  .block-32 .block-slider .block-slide {
    width: 340px;
    height: 180px;
    margin-right: 8px;
  }
}
@media (max-width: 400px) {
  .block-32 .block-slider .block-slide {
    width: 300px;
    height: 146px;
  }
}
