.wp-block-my-plugin-tabs.custom-tabs-block {
  max-width: var(--container);
  margin-inline: auto;
  padding-inline: var(--indent);
  .tab-panel-item {
    display: none;
    &.is-active {
      display: block;
    }
  }

  .tabs-nav-container {
    position: relative;
    width: 100%;
    margin-bottom: 24px;
    .tab-arrow-prev,
    .tab-arrow-next {
      position: absolute;
      top: 0;
      width: 80px;
      height: 100%;
      z-index: 10;
      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(90deg, #fefefe 65%, rgba(255, 255, 255, 0) 100%);
      }
    }
    .tab-arrow-prev {
      left: -80px;
    }
    .tab-arrow-next {
      right: -80px;
    }
    .tab-nav-button {
      padding: 10px 24px;
      min-height: 40px;
      font-family: var(--font-family);
      font-size: 14px;
      text-align: left;
      background-color: var(--white-color);
      border-right: 1px solid var(--black-color);
      &.is-active {
        color: var(--white-color);
        background-color: var(--accent-color);
      }
      &:first-child {
        border-left: 1px solid var(--black-color);
      }
    }
  }
  .tab-panel-title {
    display: none;
  }
}

.wp-block-my-plugin-tabs .tabs-nav-wrapper {
  display: flex;
  overflow-x: auto;
  scrollbar-width: none; /* Скрываем скроллбар для Firefox */
  -ms-overflow-style: none; /* Скрываем скроллбар для IE/Edge */
  scroll-behavior: smooth;
  white-space: nowrap;
}

.wp-block-my-plugin-tabs .tabs-nav-wrapper::-webkit-scrollbar {
  display: none; /* Скрываем скроллбар для Chrome/Safari */
}
