.attachments-browser .media-toolbar-secondary {
  max-width: calc(100% - 420px);
}
.attachments-browser .media-toolbar-primary {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: stretch;
  width: 100%;
  max-width: 400px;
}
.media-modal .media-frame .media-search-input-label {
  display: block;
  width: 100%;
}

.attachments-browser .media-toolbar-primary #media-category-filter,
.media-frame #media-search-input {
  display: block;
  width: 48%;
  height: 30px;
}

.wp-block.has-warning {
  border: 2px dashed #222222;
  border-radius: 4px;
}

.wp-block.has-warning .block-editor-warning {
  background-color: rgba(0, 124, 186, .25);
}

.wp-block.has-warning .block-standard {
  display: none;
}

@media (max-width: 1199px) {
  .attachments-browser .media-toolbar-secondary {
    max-width: calc(100% - 330px);
  }

  .attachments-browser .media-toolbar-primary {
    max-width: 320px;
  }
}