.articles {
  .article-posts {
    margin-bottom: 40px;
  }
}

.article-posts {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 24px;
  row-gap: 24px;
}
.article-post {
  position: relative;
  display: block;
  padding-bottom: 58px;
  background-color: var(--white-color);
  .article-news__img {
    width: 100%;
    height: inherit;
    margin-bottom: 16px;
    aspect-ratio: 16 / 9;
    object-fit: cover;
  }
  .article-news__icon {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 77px;
    height: 72px;
    object-fit: contain;
    z-index: 12;
  }
  .article-news__tags {
    margin-bottom: 4px;
    font-weight: 600;
    color: var(--accent-color);
  }
  .article-news__tags,
  .article-news__descr {
    padding-inline: 16px;
  }
  .article-news__date {
    position: absolute;
    max-width: calc(100% - 32px);
    right: 16px;
    bottom: 16px;
    text-align: right;
  }
}

@media (max-width: 1199px) {
  .article-posts {
    grid-template-columns: 1fr 1fr 1fr;
    max-width: 884px;
  }
}
@media (max-width: 991px) {
  .article-posts {
    grid-template-columns: 1fr 1fr;
    max-width: 584px;
  }
}
@media (max-width: 576px) {
  .article-posts {
    grid-template-columns: 1fr;
    max-width: 480px;
    margin: 0 auto;
  }
}
