.link {
  position: relative;
  display: block;
  width: 100%;
  max-width: max-content;
  padding-right: 20px;
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 16px;
  color: var(--accent-color);
  &:before,
  &:after {
    content: "";
    position: absolute;
    right: 4px;
    width: 3px;
    height: 10px;
    background-color: var(--accent-color);
  }
  &:before {
    top: calc(50% - 2.5px);
    transform: translateY(-50%) rotate(-45deg);
  }
  &:after {
    top: calc(50% + 2.5px);
    transform: translateY(-50%) rotate(45deg);
  }
}
