.owner-slider {
  display: flex;
  scroll-behavior: smooth;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-marker-group: after;
  .owner-slide {
    scroll-snap-align: start;
    scroll-snap-stop: always;
    position: relative;
    flex: 0 0 390px;
    display: block;
    width: 390px;
    transition: all 0.4s ease;
  }
}
.owner-slider::-webkit-scrollbar {
  display: none;
}
.owner-slider.owner-slider-with-dots {
  padding-bottom: 20px;
}
.owner-slider.owner-slider-with-dots::scroll-marker-group {
  display: flex;
  justify-content: center;
  gap: 8px;
}

.owner-slider.owner-slider-with-dots .owner-slide::scroll-marker {
  content: "";
  display: block;
  width: 10px;
  height: 10px;
  background-color: var(--white-color);
  border-radius: 50%;
  opacity: 0.5;
  transition: all 0.3s ease;
}

.owner-slider.owner-slider-with-dots .owner-slide::scroll-marker:target-current {
  opacity: 1;
}

.owner-slider.owner-slider-with-arrows::scroll-button(right),
.owner-slider.owner-slider-with-arrows::scroll-button(left) {
  content: "";
  position: absolute;
  top: 0px;
  right: 10px;
  display: block;
  width: 38px;
  height: 38px;
  border: none;
  border: 6px solid var(--accent-color);
  border-radius: 100px;
  cursor: pointer;
}
.owner-slider.owner-slider-with-arrows::scroll-button(left) {
  right: 70px;
  background: var(--accent-color) url("../img/icons/icon-arrow-next.svg") center / contain no-repeat;
  transform: rotate(180deg);
}
.owner-slider.owner-slider-with-arrows::scroll-button(right) {
  background: var(--accent-color) url("../img/icons/icon-arrow-next.svg") center / contain no-repeat;
}
.owner-slider.owner-slider-with-arrows::scroll-button(right):disabled,
.owner-slider.owner-slider-with-arrows::scroll-button(left):disabled {
  opacity: 0.5;
  cursor: auto;
}
