.slick-dots {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 16px;
  li {
    display: block;
    width: 10px;
    height: 10px;
    font-size: 0;
    background-color: var(--white-color);
    border-radius: 16px;
    opacity: 0.6;
    cursor: pointer;
    &.slick-active {
      opacity: 1;
      button {
        display: none;
      }
    }
  }
}
