@use "./data/reset";
@use "../fonts/stylesheet.css";

@use "./data/colors";
@use "./data/function";

@use "./data/global";

// data
@use "./data/header";
@use "./data/footer";
@use "./data/popup";
@use "./data/wpcf7";

// components
// @use "components/block-title";
@use "./components/h1";
@use "./components/h2";
@use "./components/h3";
@use "./components/sub_title";
@use "./components/descr";
@use "./components/divider";
@use "./components/btn";
@use "./components/link";

@use "components/article-post";
// @use "components/btn";
// @use "components/link";
// @use "components/breadcrumbs";

// MGU blocks
@use "./mgu-blocks/block-01";
@use "./mgu-blocks/block-02";
@use "./mgu-blocks/block-03";
@use "./mgu-blocks/block-04";
@use "./mgu-blocks/block-05";

// animations
@use "./data/animations";
@use "./data/not-found";
@use "./data/thank-you";

// hover
@use "./data/hover";

// @container block-www (max-width: 1680px) {
// }
// @container block-www (max-width: 1366px) {
// }
// @container block-www (max-width: 1199px) {
// }
// @container block-www (max-width: 991px) {
// }
// @container block-www (max-width: 768px) {
// }
// @container block-www (max-width: 576px) {
// }
// @container block-www (max-width: 460px) {
// }
// @container block-www (max-width: 400px) {
// }
