@use "./data/reset";
@use "../fonts/stylesheet.css";

@use "./slick/slick-lightbox.scss";
@use "./slick/slick.css";

@use "./data/colors";
@use "./data/function";

@use "./data/global";

// data
@use "./data/header";
@use "./data/footer";
@use "./data/popup";
@use "./data/wpcf7";

// components
// @use "components/block-title";
@use "./components/h1";
@use "./components/h2";
@use "./components/h3";
@use "./components/h4";
@use "./components/sub_title";
@use "./components/descr";
@use "./components/divider";
@use "./components/btn";
@use "./components/link";
@use "./components/accordion-container";
@use "./components/slick-dots";

@use "components/article-post";
// @use "components/btn";
// @use "components/link";
// @use "components/breadcrumbs";

// MGU blocks
@use "./mgu-blocks/block-01";
@use "./mgu-blocks/block-02";
@use "./mgu-blocks/block-03";
@use "./mgu-blocks/block-04";
@use "./mgu-blocks/block-05";
@use "./mgu-blocks/block-06";
@use "./mgu-blocks/block-07";
@use "./mgu-blocks/block-08";
@use "./mgu-blocks/block-09";
@use "./mgu-blocks/block-10";
@use "./mgu-blocks/block-11";
@use "./mgu-blocks/block-12";
@use "./mgu-blocks/block-13";
@use "./mgu-blocks/block-14";
@use "./mgu-blocks/block-15";
@use "./mgu-blocks/block-16";
@use "./mgu-blocks/block-17";
@use "./mgu-blocks/block-18";
@use "./mgu-blocks/block-19";
@use "./mgu-blocks/block-20";
@use "./mgu-blocks/block-21";
@use "./mgu-blocks/block-22";
@use "./mgu-blocks/block-23";
@use "./mgu-blocks/block-24";

@use "./mgu-blocks/block-26";
@use "./mgu-blocks/block-27";
@use "./mgu-blocks/block-28";
@use "./mgu-blocks/block-29";
@use "./mgu-blocks/block-30";
@use "./mgu-blocks/block-31";
@use "./mgu-blocks/block-32";
@use "./mgu-blocks/block-33";
@use "./mgu-blocks/block-34";
@use "./mgu-blocks/block-35";
@use "./mgu-blocks/block-36";
@use "./mgu-blocks/block-37";
@use "./mgu-blocks/block-38";
@use "./mgu-blocks/block-39";
@use "./mgu-blocks/block-40";

// animations
@use "./data/animations";
@use "./data/not-found";
@use "./data/thank-you";

// hover
@use "./data/hover";

// @container block-www (max-width: 1680px) {
// }
// @container block-www (max-width: 1366px) {
// }
// @container block-www (max-width: 1199px) {
// }
// @container block-www (max-width: 991px) {
// }
// @container block-www (max-width: 768px) {
// }
// @container block-www (max-width: 576px) {
// }
// @container block-www (max-width: 460px) {
// }
// @container block-www (max-width: 400px) {
// }

/////////////////////////////////////////////

// @media (max-width: 1680px) {
// }
// @media (max-width: 1366px) {
// }
// @media (max-width: 1199px) {
// }
// @media (max-width: 991px) {
// }
// @media (max-width: 768px) {
// }
// @media (max-width: 576px) {
// }
// @media (max-width: 460px) {
// }
// @media (max-width: 400px) {
// }
