.block-style {
  padding: 12px;
  border: 2px dashed #ccc;
  border-radius: 4px;
  transition: all 0.3s ease;

  &.is-selected {
    border-color: #222222;
    background-color: rgba(0, 124, 186, 0.05);
  }

  .advanced-block {
    display: block;
    width: 100%;
    .block-info {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      margin-bottom: 24px;
      padding: 4px 12px;
      background-color: rgba(0, 124, 186, 0.25);
      border-radius: 8px;
      box-sizing: border-box;
      .block-info-title {
        display: block;
        width: 100%;
        max-width: calc(100% - 250px);
      }
      .components-base-control.components-toggle-control {
        display: block;
        width: 100%;
        max-width: 240px;
        margin-bottom: 0;
        [data-wp-component="HStack"] {
          justify-content: flex-end;
          label {
            max-width: max-content;
          }
        }
      }
    }
    .my-rich-text__label {
      display: block;
      width: 100%;
      margin-bottom: 3px;
      font-weight: 400;
      font-size: 14px;
      color: gray;
    }
    [role="textbox"] {
      padding: 4px;
      border-radius: 4px;
      border: 1px dashed #222222;
      &:not(:last-child) {
        margin-bottom: 16px;
      }
    }
  }

  .advanced-block-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: stretch;
    gap: 16px 0;
    width: 100%;
    .advanced-block-text {
      display: block;
      width: 100%;
    }
  }

  .advanced-block-image {
    display: block;
    width: 100%;
    margin-bottom: 24px;
    padding: 4px;
    border-radius: 4px;
    border: 1px dashed #222222;
    .label-image {
      display: block;
      width: 100%;
      margin-bottom: 8px;
      padding: 4px 12px;
      background-color: rgba(0, 124, 186, 0.25);
      border-radius: 4px;
      box-sizing: border-box;
    }
    &.advanced-block-image-48 {
      max-width: 49%;
    }
  }

  .advanced-block-buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: stretch;
    width: 100%;
    margin-bottom: 24px;
    padding: 4px;
    border-radius: 4px;
    border: 1px dashed #222222;
    .advanced-block-button {
      display: block;
      width: 100%;
      max-width: calc(50% - 4px);
      [role="textbox"] {
        min-height: 40px;
      }
    }
  }

  .richtext-to-select {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: stretch;
    width: 100%;
    margin-bottom: 40px;
    .richtext-to-select__item {
      display: block;
      width: 100%;
      max-width: calc(50% - 12px);
      select,
      [aria-label="URL"] {
        min-height: 37px;
        border-radius: 4px;
      }
      [aria-label="URL"] {
        max-height: 37px;
      }
    }
  }

  .programs-item {
    display: block;
    width: 100%;
    .page-data-preview {
      position: relative;
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-start;
      align-content: flex-end;
      min-height: 170px;
      img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: 2;
      }
      .preview-title,
      .preview-descr {
        position: relative;
        display: block;
        width: 100%;
        margin: 0;
        color: #fff;
        z-index: 8;
      }
      .preview-title {
        margin-bottom: 5px;
        font-weight: 600;
        font-size: 16px;
        line-height: 1.3;
      }
      .preview-descr {
        font-size: 12px;
        line-height: 1.2;
      }
    }
    .components-button.is-destructive {
      border: 1px solid #cc1818;
    }
    &.w-32 {
      max-width: calc(33% - 13px);
    }
    &.w-50 {
      max-width: calc(50% - 12px);
    }
  }

  .about-widget {
    display: block;
    margin-bottom: 24px;
    padding: 16px 8px;
    border-radius: 4px;
    border: 1px dashed #222222;
    .repeater-items {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      column-gap: 16px;
      row-gap: 16px;
      .items-control {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        width: 100%;
      }
    }
    .components-button.add-repeater-item {
      display: block;
      margin-inline: auto;
      border: 1px solid rgba(0, 124, 186, 0.5);
    }
  }

  .teachers-block-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 12px;
    row-gap: 24px;
    width: 100%;
  }
  .teachers-block-editor-courses .teachers-block-grid {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .contacts-items {
    [role="textbox"] {
      font-size: 14px !important;
    }
  }

  .custom-list {
    position: relative;
    display: block;
    padding-left: 14px;
    &:before {
      content: "";
      position: absolute;
      top: 9px;
      left: 0;
      display: block;
      width: 6px;
      height: 6px;
      background-color: #212121;
      border-radius: 20px;
    }
  }

  .numerations-items {
    counter-reset: myCounter;
    .numerations-item {
      position: relative;
      padding: 0 6px 6px 6px;
      background-color: rgba(0, 124, 186, 0.25);
      border: 1px solid rgba(0, 124, 186, 0.45);
      border-radius: 4px;
      &:before {
        counter-increment: myCounter;
        content: counter(myCounter);
        position: absolute;
        top: 0;
        left: 0;
        width: 36px;
        height: 36px;
        font-weight: 500;
        font-size: 18px;
        line-height: 36px;
        text-align: center;
        color: rgba(0, 124, 186, 0.8);
      }
      .items-control {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-end;
        align-items: center;
        width: 100%;
        margin-bottom: 6px;
        padding: 0 0 6px 24px;
        border-bottom: 1px solid rgba(0, 124, 186, 0.45);
        .items-control__buttons {
          display: flex;
          flex-wrap: wrap;
          justify-content: flex-end;
          align-items: stretch;
          button {
            padding: 0 6px;
          }
        }
        button.components-button.is-destructive {
          padding: 0 0 0 12px;
        }
      }
    }
    &.numerations-items-02 {
      grid-template-columns: 1fr 1fr;
    }
  }
}
.components-base-control.block-editor-url-input.URLInput {
  width: 100%;
  max-width: 100%;
  min-width: max-content;
}
