:root {
  --accent-color: #ff762f;
  --bgc-color: #f8efea;

  --black-color: #222222;
  --white-color: #ffffff;
  --gray-color: #c4c4c4;
  --form-color: #f0f0f0;

  --bg-color: #313135;

  --theme-dark-bg: #c4c4c4;

  --underline-color: #ff762f;
}

html:not(.theme-dark) body.masters-degree {
  --accent-color: #002b2a;
  --bgc-color: #f1f1f1;

  --underline-color: #002b2a;
}

html:not(.theme-dark) body.bachelors-degree {
  --accent-color: #26a3d1;
  --bgc-color: #eaf1f4;

  --underline-color: #26a3d1;
}

html:not(.theme-dark) body.universiade {
  --accent-color: #cf8500;
  --bgc-color: #f6f2ea;

  --underline-color: #cf8500;
}
html:not(.theme-dark) body.emba {
  --accent-color: #6d0916;
  --bgc-color: #ffebeb;

  --underline-color: #6d0916;
}
html:not(.theme-dark) body.vertical {
  --accent-color: #ff5f21;
  --bgc-color: #f9efea;

  --underline-color: #ff5f21;
}
html:not(.theme-dark) body.association {
  --accent-color: #b50035;
  --bgc-color: #f3e8ee;

  --underline-color: #b50035;
}
html:not(.theme-dark) body.school-of-moderators {
  --accent-color: #01a781;
  --bgc-color: #f0faf8;

  --underline-color: #01a781;
}
html:not(.theme-dark) body.chines {
  --accent-color: #006023;
  --bgc-color: #edfff4;

  --underline-color: #006023;
}
html:not(.theme-dark) body.corporate-training {
  --accent-color: #4f2299;
  --bgc-color: #f6f4fa;

  --underline-color: #4f2299;
}
html:not(.theme-dark) body.mba {
  --accent-color: #003760;
  --bgc-color: #edf1f4;

  --underline-color: #003760;
}
html:not(.theme-dark) body.doing-busines {
  --accent-color: #006e99;
  --bgc-color: #edeff0;

  --underline-color: #006e99;
}
html:not(.theme-dark) body.negotiation {
  --accent-color: #bf8ba1;
  --bgc-color: #f6edef;

  --underline-color: #bf8ba1;
}
html:not(.theme-dark) body.humanitarian-track {
  --accent-color: #ab8dc1;
  --bgc-color: #f6edef;

  --underline-color: #ab8dc1;
}

html.theme-dark {
  --accent-color: #333333;
  --bgc-color: #ffffff;

  --theme-dark-bg: #c4c4c4;

  --underline-color: #333333;

  img {
    transition: all 0.4s ease;
    filter: grayscale(1);
  }
}

.theme-dark {
  .article-post,
  .block-02 .event-item,
  .block-06 .container:before,
  .block-09 .program-article {
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.4);
  }
}
