.footer {
  position: relative;
  display: block;
  width: 100%;
  padding-block: 40px;
  background-color: #ff762f;
  transition: all 0.4s ease;
  z-index: 80;
  .footer-blocks {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 24px;
    row-gap: 24px;
    margin-bottom: 24px;
  }
  .footer-block {
    display: block;
    .h3 {
      margin-bottom: 16px;
      color: var(--white-color);
    }
    .program-item {
      .program-item__day,
      .program-item__month,
      .program-item__title,
      .program-item__time {
        display: block;
        width: 100%;
        font-family: var(--font-family);
        color: var(--white-color);
      }
      .program-item__date {
        display: block;
        width: 100%;
        max-width: 80px;
        .program-item__day,
        .program-item__month {
          text-align: center;
          line-height: 1;
        }
        .program-item__day {
          margin-bottom: 10px;
          font-weight: 600;
          font-size: 46px;
        }
        .program-item__month {
          font-weight: 500;
          font-size: 16px;
        }
      }
      .program-item__content {
        display: block;
        width: 100%;
        max-width: calc(100% - 96px);
        margin-left: 15px;
        padding-left: 15px;
        border-left: 1px solid var(--white-color);
        .program-item__title {
          margin-bottom: 4px;
        }
      }
      &:not(:last-child) {
        margin-bottom: 16px;
      }
    }
  }
  .footer-menu,
  .menu-item,
  .menu-item a,
  .footer-bottom {
    display: block;
    width: 100%;
  }
  .footer-menu {
    .menu-item {
      a {
        font-family: var(--font-family);
        font-weight: 500;
        font-size: 16px;
        color: var(--white-color);
      }
      .sub-menu {
        display: none !important;
      }
      &:not(:last-child) {
        margin-bottom: 8px;
      }
    }
  }

  .footer-socials {
    gap: 24px;
    margin-bottom: 24px;
    .footer-social {
      display: block;
      width: 46px;
      height: 46px;
      border-radius: 100px;
      transition: all 0.4s ease;
      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }
  }

  .footer-bottom {
    .descr {
      text-align: center;
      color: var(--white-color);
    }
    a.descr {
      margin-bottom: 40px;
      font-weight: 500;
      text-decoration: underline;
    }
  }
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0);
  transition: background 0.4s ease;
  cursor: pointer;
  z-index: -1;
  &.active {
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 90;
  }
}

@media (max-width: 1680px) {
}
@media (max-width: 1366px) {
}
@media (max-width: 1199px) {
  .footer .footer-blocks {
    grid-template-columns: 1fr 1fr;
  }
  .footer .footer-socials {
    justify-content: center;
  }
}
@media (max-width: 991px) {
}
@media (max-width: 768px) {
  .footer .footer-blocks {
    grid-template-columns: 1fr;
  }
}
@media (max-width: 576px) {
}
@media (max-width: 460px) {
}
@media (max-width: 400px) {
}
