.footer {
  position: relative;
  display: block;
  width: 100%;
  padding-block: 40px;
  z-index: 80;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0);
  transition: background 0.4s ease;
  cursor: pointer;
  z-index: -1;
  &.active {
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 90;
  }
}
