@media (hover: hover) and (pointer: fine) {
  // ******
  // header
  .header-popup .header-popup__content .header-menu .menu-item a:hover {
    color: var(--accent-color);
    &:before,
    &:after {
      background-color: var(--accent-color);
    }
  }
  .header-popup .header-popup__content .header-menu .sub-menu .menu-item:hover {
    border-left-color: var(--accent-color);
  }

  .header-popup .header-popup__content .header-popup__content-top .ajax-search .search-result-item:hover {
    border-left-color: var(--accent-color);
  }

  // ******
  // footer
  .footer .footer-menu .menu-item a:hover,
  .footer .footer-block .program-item:hover .program-item__content .program-item__title {
    text-decoration: underline;
  }
  .footer .footer-socials .footer-social:hover {
    box-shadow: 0px 0px 14px 0px rgba(255, 255, 255, 0.7);
  }

  // **********
  // components
  .btn.btn-white:hover {
    color: var(--white-color);
    background-color: var(--accent-color);
    border-color: var(--accent-color);
  }
  .btn.btn-orange:hover {
    color: var(--white-color);
    background-color: var(--accent-color);
    border-color: var(--accent-color);
  }

  // ******
  // blocks
  .block-02 .event-item:hover {
    box-shadow: 0px 0px 14px 0px rgba(255, 255, 255, 0.7);
    .event-item__image img {
      transform: scale(1.05);
    }
  }

  .block-12 .breadcrumbs .breadcrumb:hover {
    color: var(--white-color);
    background-color: var(--accent-color);
  }
}
