.popup {
  position: fixed;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  max-width: 480px;
  height: 100%;
  transform: translateX(0);
  transition: all 0.4s ease;
  z-index: 200;
}

.popup-video {
  aspect-ratio: 16 / 9;
  top: 50%;
  left: 50%;
  width: 840px;
  max-width: 90%;
  height: auto;
  transform: translate(-50%, -50%);
  iframe {
    width: 100%;
    height: 100%;
    border: none;
  }
}
