@font-face {
    font-family: 'Circe';
    src: url('../fonts/Circe-Regular.eot');
    src: local('Circe'), local('Circe-Regular'),
        url('../fonts/Circe-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Circe-Regular.woff2') format('woff2'),
        url('../fonts/Circe-Regular.woff') format('woff'),
        url('../fonts/Circe-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Circe';
    src: url('../fonts/Circe-Bold.eot');
    src: local('Circe Bold'), local('Circe-Bold'),
        url('../fonts/Circe-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Circe-Bold.woff2') format('woff2'),
        url('../fonts/Circe-Bold.woff') format('woff'),
        url('../fonts/Circe-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Circe Extra';
    src: url('../fonts/Circe-ExtraBold.eot');
    src: local('Circe Extra Bold'), local('Circe-ExtraBold'),
        url('../fonts/Circe-ExtraBold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Circe-ExtraBold.woff2') format('woff2'),
        url('../fonts/Circe-ExtraBold.woff') format('woff'),
        url('../fonts/Circe-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}
/*  */
/* @font-face {
    font-family: 'Raleway';
    src: url('../fonts/Raleway-Regular.woff2') format('woff2'),
        url('../fonts/Raleway-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Raleway';
    src: url('../fonts/Raleway-Medium.woff2') format('woff2'),
        url('../fonts/Raleway-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Raleway';
    src: url('../fonts/Raleway-Bold.woff2') format('woff2'),
        url('../fonts/Raleway-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Raleway';
    src: url('../fonts/Raleway-SemiBold.woff2') format('woff2'),
        url('../fonts/Raleway-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
} */

